*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
header{
    height: 100px;
    width: 100%; 
    color: white;
    background-color: black;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
#prenom{
    color: rgb(147, 147, 193);

}
nav{
    width: 60%;
}
.nav_links{
display: flex;
list-style: none;
justify-content: space-evenly;
}
a{
    text-decoration: none;
    color: white;
}